@model Kindergarten_school.Models.FeedbackModel

@{
    ViewData["Title"] = "Thêm Góp Ý";
}

<h2>Thêm Góp Ý</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Phone">Số Điện Thoại</label>
        <input type="text" class="form-control" asp-for="Phone" required />
    </div>

    <div class="form-group">
        <label for="Content">Nội dung</label>
        <textarea class="form-control" asp-for="Content" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-success mt-2">Gửi Góp Ý</button>
</form>
