<footer id="footer">
    <div class="container">
        <div class="top-header">
            <div class="card-container">
                <div class="card-main card-red">
                    <div class="content-card">
                        <div>
                            <img src="/assets/images/Vector (7).png" class="img-fluid" alt="">
                        </div>
                        <div>
                            <h2 class="card-title">HOTLINE</h2>
                            <a href="#">0123 456 789</a>
                        </div>
                    </div>

                </div>
                <div class="card-main card-yl-2">
                    <div class="content-card">
                        <div>
                            <img src="/assets/images/Vector (7).png" class="img-fluid" alt="">
                        </div>
                        <div>
                            <h2 class="card-title">HOTLINE</h2>
                            <a href="#">0123 456 789</a>
                        </div>
                    </div>
                </div>
                <div class="card-main card-gr-2">
                    <div class="content-card">
                        <div>
                            <img src="/assets/images/Vector (7).png" class="img-fluid" alt="">
                        </div>
                        <div>
                            <h2 class="card-title">HOTLINE</h2>
                            <a href="#">0123 456 789</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="text-footer">
                        GIỚI THIỆU
                    </div>
                    <p>
                        Hân hoan chào đón Quý phụ huynh và xin được chúc mừng con em của Quý vị đã trở thành công
                        dân của Trường Mầm Non Song Ngữ Trẻ Sáng Tạo – nơi các em sẽ liên tục khám phá, trải nghiệm
                        và phát triển hoàn hảo trên bước đường khai thức đầu đời.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-footer">
                        LIÊN HỆ
                    </div>
                    <p>
                        HỆ THỐNG TRƯỜNG MẦM NON SONG NGỮ TRẺ SÁNG TẠO <br>
                        Hotline : 0********** <br>
                        Email : mamnonTT@gmail.com <br>
                        FB : Trường mầm non TT <br>
                        Website : mamnonTT.edu.vn <br>
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-footer">
                        ĐĂNG KÝ NHẬN TIN
                    </div>
                    <div class="form-footer">
                        <form class="container-form">
                            <input type="text" class="form-control" placeholder="Email nhận tin" />
                            <button type="submit" class="btn btn-success">ĐĂNG KÝ</button>
                        </form>
                    </div>
                    <div class="icon-footer d-flex gap-2">
                        <a class="img-icon-ft" href="#">
                            <img src="/assets/images/facebook (2).png" class="img-fluid" alt="">
                        </a>
                        <a class="img-icon-ft" href="#">
                            <img src="/assets/images/instagram (1).png" class="img-fluid" alt="">
                        </a>
                        <a class="img-icon-ft" href="#">
                            <img src="/assets/images/linkedin (1).png" class="img-fluid" alt="">
                        </a>
                        <a class="img-icon-ft" href="#">
                            <img src="/assets/images/youtube (1).png" class="img-fluid" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <hr>
            <div class="bottom-footer">
                <div class="row">
                    <div class="col-12 col-md-4 mb-12">
                        <div class="text-head">
                            Cơ sở 1
                        </div>
                        <p>
                            300A Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh <br>
                            Tel : 1900 2039 <br>
                            Email : mamnonTT@gmail.com
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="text-head">
                            Cơ sở 2
                        </div>
                        <p>
                            458/3F Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, TP. Hồ Chí Minh<br>
                            Tel : 028 3941 1211<br>
                            Email : mamnonTT@gmail.com
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="text-head">
                            Cơ sở 3
                        </div>
                        <p>
                            331 Quốc lộ 1A, Phường An Phú Đông, Quận 12, TP. Hồ Chí Minh <br>
                            Tel : 028 3715 8888 <br>
                            Email : mamnonTT@gmail.com
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="text-head">
                            Cơ sở 4
                        </div>
                        <p>


                            Đường D2, Phường Long Thạnh Mỹ, TP. Thủ Đức, TP. Hồ Chí Minh <br>
                            Tel : 028 2246 7777 <br>
                            Email : mamnonTT@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>