<header class="container-fluid pb-9">
    <div class="header-main d-flex gap-4em align-items-center">
        <div class="img-logo">
            <img src="/assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
        <div class="menu-main">
            <ul class="main-menu-ul">
                <li>
                    <a href="javascript:void(0)"
                       class="link-menu d-flex align-items-center justify-content-center flex-column active">
                        <div class="icon-menu">
                            <img src="/assets/images/home.png" alt="" class="img-icon-item">
                        </div>
                        <span class="text-link">Trang chủ</span>
                    </a>

                </li>
                <li>
                    <a href="javascript:void(0)"
                       class="link-menu d-flex align-items-center justify-content-center flex-column ">
                        <div class="icon-menu">
                            <img src="/assets/images/home.png" alt="" class="img-icon-item">
                        </div>
                        <span class="text-link">VỀ CHÚNG TÔI</span>
                    </a>

                </li>
                <li>
                    <a href="javascript:void(0)"
                       class="link-menu d-flex align-items-center justify-content-center flex-column ">
                        <div class="icon-menu">
                            <img src="/assets/images/home.png" alt="" class="img-icon-item">
                        </div>
                        <span class="text-link">VỀ ĐỐI TÁC QUỐC TẾ</span>
                    </a>

                </li>
                <li>
                    <a href="javascript:void(0)"
                       class="link-menu d-flex align-items-center justify-content-center flex-column ">
                        <div class="icon-menu">
                            <img src="/assets/images/home.png" alt="" class="img-icon-item">
                        </div>
                        <span class="text-link">CHƯƠNG TRÌNH ĐÀO TẠO</span>
                    </a>

                </li>
                <li>
                    <a href="javascript:void(0)"
                       class="link-menu d-flex align-items-center justify-content-center flex-column ">
                        <div class="icon-menu">
                            <img src="/assets/images/home.png" alt="" class="img-icon-item">
                        </div>
                        <span class="text-link">MÔI TRƯỜNG</span>
                    </a>

                </li>
                <li>
                    <a href="javascript:void(0)"
                       class="link-menu d-flex align-items-center justify-content-center flex-column ">
                        <div class="icon-menu">
                            <img src="/assets/images/home.png" alt="" class="img-icon-item">
                        </div>
                        <span class="text-link">TUYỂN SINH</span>
                    </a>

                </li>
                <li>
                    <a href="javascript:void(0)"
                       class="link-menu d-flex align-items-center justify-content-center flex-column ">
                        <div class="icon-menu">
                            <img src="/assets/images/home.png" alt="" class="img-icon-item">
                        </div>
                        <span class="text-link">THƯ VIỆN</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>

</header>