@{
    List<Kindergarten_school.Models.StudentModel> listStudent = ViewBag.ListStudent;
}

<div class="row ">
    <div class="col-md-12">
        <div class="card  shadow-lg mb-4">
            <div class="card-body">
                <form id="formHelthNotification">

                    <div class="form-group">
                        <label for="studentId">Học sinh</label>
                        <select id="studentId" name="studentId" class="form-control">
                            @foreach (var item in listStudent)
                            {
                                <option value="@item.StudentID">@item.FirstName @item.LastName</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Tình trạng sức khỏe</label>
                        <textarea class="form-control" id="HealthStatus" placeholder="Tình trạng sức khỏe" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Gửi</button>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/admin-js/health-notification.js"></script>
}